.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;
}

.add-image-upload img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.add-product-name, .add-product-description, .add-idade, .add-image-upload {
    width: max(40%,280px);
    font-size: 20px;
}

.add-product-name input, .add-product-description textarea, .add-idade input {
    padding: 10px;
    font-size: 16px;
}

.add-btn{
    max-width: 200px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #df3f3f;
    color: white;
    cursor: pointer;
}